.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 100%;
}

.login__form {
    width: 318px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 91px;
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
}