.registration {
    /* padding: 50px 193px;
    gap: 20px;
    height: 527px; */
    background-color: var(--bg-color);
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.registration__form {
    width: 318px;
    height: 308px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 91px;
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
}

.to-login {
    font-size: smaller;
}

.button__registration {
    height: 25px;
}